html {
    height: 100%;
}

body {
    height: calc(100% - 16px);
}

h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; text-align: center; margin:auto;} 
h3 { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Open Sans"; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } 
blockquote { font-family: "Open Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Open Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


#dropdownDiv {
    padding: 0px;
    margin: 5px;
    height: 5%;
    background-color: #2699fb;
    text-align: center;
}
    #dropdownDiv .tooltiptext {
        visibility: hidden;
        width: 130px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        border-radius: 6px;
        border: solid 1px;
        position: absolute;
        z-index: 1;
        font-size: smaller;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    #dropdownDiv:hover .tooltiptext {
        visibility: visible;
    }

#dropdownSelect {
    background-color: #2699fb;
    font-family: "Open Sans"; 
	font-size: 12px; 
	color: white;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
    font-size: 2.5vh;
    border: solid 2px #ffffff;
	border-radius: 6px;
    height: 90%;
	Margin-top:2px;
	
}

#mapChartDiv {
    padding: 0px;
    margin: 5px;
    height: 40%;
}

#mapDiv {
    float: left;
    padding: 0px;
    margin-right: 2px;
    height: 100%;
    width: 60%;
    /*border: solid 1px #e09641;*/
}

#mapTitle {
    position: absolute;
    left: 80px;
    top: 60px;
    color: black;
    font-size: 3.5vh;
}

#legend {
	font-family: "Open Sans";
    position: absolute;
    width: 105px;
    left: calc(60% - 120px);
    top: calc(8vh + 27px);
    color: #323232;
    background-color: #f2f2f2;
    font-size: 12px;
    display: none;
    
    border-radius: 6px;
    padding: 3px;
}

.legendItems {
    width: 20px;
    margin: 0px 2px 0px 0px;
    font-size: smaller;
}

#legendToggle {
	font-family: "Open Sans";
    position: absolute;
    width: 105px;
    left: calc(60% - 120px);
    top: 8vh;
    color: white;
    background-color:  #2699fb;
    font-size: 12px;
    display: block;
    border-radius: 6px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

    /* Tooltip text */
    #legendToggle .tooltiptext {
        visibility: hidden;
        width: 130px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        border-radius: 6px;
     
        position: absolute;
        z-index: 1;
        left: calc(60% + 48px);
        font-size:smaller;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    #legendToggle:hover .tooltiptext {
        visibility: visible;
    }

#chartDiv {
    float: left;
    padding: 0px;
    margin-left: 3px;
    height: 100%;
    width: calc(40% - 9px);
    /*border: solid 1px #e09641;*/
}

#aboutDiv {
    padding: 5px;
    margin: 5px;
    
    width: calc(100% - 22px);
    /*border: solid 1px #e09641;*/
}

    #aboutDiv p {
        margin: 5px;
    }

.aboutTitle {
    font-size: 28px;
    font-weight: bold;
}

#demographicsDiv {
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /*height: calc(27% - 40px);*/
    width: calc(100% - 12px);
    /*border: solid 1px #e09641;*/
}
   /* #demographicsDiv .demographicsCell:nth-of-type(odd) {
        background-color: #f2f2f2;
    } */

.demographicsCell {
	background-color: #f2f2f2;
    padding: 0px;
	margin:1px;
    float: left;
    width: calc(((100% - 10.5px)/5));
    position: relative;
    /*border: solid 1px #e09641;*/
}

.demographicsCell:hover {
background-color: #2699fb;
  color: white;	
}

.demographicsTitle {
    white-space: nowrap;
    margin-top: 1vw;
    font-family: "Open Sans"; 
	font-size: 1.5vw; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
	text-align: center;
}

.demographicsValue {
    white-space: pre;
    margin: 2px;
    font-size: 3vw;
	text-align: center;
	font-weight: 700;
	margin-top:10px;
	font-family: "Open Sans";
}

.cityValue {
    white-space: pre;
    margin: 2px;
	margin-bottom: 15px;
    font-size: 1.25vw;
	text-align: center;
	margin-top:10px;
	font-family: "Open Sans";
}

#context {
    font-size: 2.2vh;
}

.demoTooltiptext {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 6px;
    border: solid 1px;
    position: absolute;
    top: -30px;
    z-index: 1;
    font-size: smaller;
}

/* Show the tooltip text when you mouse over the tooltip container */
.demographicsCell:hover .demoTooltiptext {
    visibility: visible;
}
