html {
    height: 100%;
}

body {
    height: calc(100% - 16px);
}

h1 { font-family: "Libre Franklin"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; text-align: center; margin:auto;} 
h3 { font-family: "Libre Franklin"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Libre Franklin"; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } 
blockquote { font-family: "Libre Franklin"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Libre Franklin"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

@media only screen and (max-width: 10000px) {
#lutitleDiv {
    padding-left: 5px;
    height: 5%;
	background: #f2f2f2;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 4.5vh;
	font-size: 3.5vh;
    font-weight: bold;
	font-family: "Libre Franklin"
}
}

@media only screen and (max-width: 650px) {
#lutitleDiv {
    padding-left: 5px;
    height: 5%;
	background: #f2f2f2;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 4.5vh;
	font-size: 3.5vw;
    font-weight: bold;
	font-family: "Libre Franklin"
}
}


#dropdownDiv {
    padding: 0px;
    margin: 5px;
    height: 5%;
    background-color: #0f2a70;
    text-align: center;
}
    #dropdownDiv .tooltiptext {
        visibility: hidden;
        width: 130px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        border-radius: 6px;
        border: solid 1px;
        position: absolute;
        z-index: 1;
        font-size: smaller;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    #dropdownDiv:hover .tooltiptext {
        visibility: visible;
    }

#dropdownSelect {
    background-color: #0f2a70;
    font-family: "Libre Franklin"; 
	font-size: 12px; 
	color: white;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
    font-size: 2.5vh;
    border: solid 2px #ffffff;
	border-radius: 6px;
    height: 90%;
	Margin-top:2px;
	
}


#mapChartDiv {
    padding: 0px;
    margin: 5px;
    height: 40%;
}

@media only screen and (max-width: 10000px) {
#mapDiv {
    float: left;
    padding: 0px;
    margin-right: 2px;
    height: 100%;
    width: 60%;
    /*border: solid 1px #e09641;*/
}
}

@media only screen and (max-width: 650px) {
#mapDiv {
    float: left;
    padding: 0px;
    margin-right: 2px;
    height: 100%;
    width: 100%;
    /*border: solid 1px #e09641;*/
	margin-bottom: 5px;
}
}

#mapTitle {
    position: absolute;
    left: 80px;
    top: 60px;
    color: black;
    font-size: 3.5vh;
}

#legend {
	font-family: "Libre Franklin";
    position: absolute;
    width: 150px;
    left: calc(95vw - 180px);
    top: calc(7.5vh + 27px);
    color: #323232;
    background-color: #f2f2f2;
    font-size: 12px;
    display: none;
    z-index:10;
    border-radius: 6px;
    padding: 3px;
}

.legendItems {
    width: 20px;
    margin: 0px 2px 0px 0px;
    font-size: smaller;
}

#legendToggle {
	font-family: "Libre Franklin";
    position: absolute;
    width: 150px;
    left: calc(95vw - 180px);
    top: 7.5vh;
    color: white;
    background-color:  #0f2a70;
    font-size: 12px;
    display: block;
    border-radius: 6px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

    /* Tooltip text */
    #legendToggle .tooltiptext {
        visibility: hidden;
        width: 130px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        left: calc(90% - 305px);
        font-size:smaller;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    #legendToggle:hover .tooltiptext {
        visibility: visible;
    }

@media only screen and (max-width: 10000px) {
#chartDiv {
    float: left;
    padding: 0px;
    margin-left: 3px;
    height: 100%;
    width: calc(40% - 5px);
    /*border: solid 1px #e09641;*/
}
}

@media only screen and (max-width: 650px) {
#chartDiv {
    float: left;
    padding: 0px;
    margin-left: 3px;
    height: 100%;
    width: 100%;
    /*border: solid 1px #e09641;*/
	margin-bottom: 5px;
}
}

#aboutDiv {
    padding: 5px;
    margin: 5px;
    
    width: calc(100% - 22px);
    /*border: solid 1px #e09641;*/
}

    #aboutDiv p {
        margin: 5px;
    }

@media only screen and (max-width: 10000px) {
.aboutTitle {
    font-size: 3.5vh;
    font-weight: bold;
	line-height: 4vh;
}
}

@media only screen and (max-width: 650px) {
.aboutTitle {
    font-size: 3.5vw;
    font-weight: bold;
	line-height: 4vh;
}
}


#demographicsDiv {
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /*height: calc(27% - 40px);*/
    width: calc(100% - 12px);
    /*border: solid 1px #e09641;*/
}
   /* #demographicsDiv .demographicsCell:nth-of-type(odd) {
        background-color: #f2f2f2;
    } */

@media only screen and (max-width: 10000px) {
.demographicsCell {
	background-color: #f2f2f2;
    position: relative;
    padding: 0px;
	margin:1px;
    float: left;
    width: calc(((100% - 10.5px)/5));
    /*border: solid 1px #e09641;*/
}
}

@media only screen and (max-width: 650px) {
.demographicsCell {
	background-color: #f2f2f2;
    position: relative;
    padding: 0px;
	margin:1px;
    float: left;
    width: calc(((100% - 10.5px)));
    /*border: solid 1px #e09641;*/
}
}

.demographicsCell:hover {
background-color: #0f2a70;
  color: white;	
}

@media only screen and (max-width: 10000px) {
.demographicsTitle {
    white-space: nowrap;
    margin-top: 1vw;
    font-family: "Libre Franklin"; 
	font-size: 1.5vw; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
	text-align: center;
}
}

@media only screen and (max-width: 650px) {
.demographicsTitle {
    white-space: nowrap;
    margin-top: 1vw;
    font-family: "Libre Franklin"; 
	font-size: 2.5vw; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
	text-align: center;
}
}

@media only screen and (max-width: 10000px) {
.demographicsValue {
    white-space: pre;
    margin: 2px;
    font-size: 3vw;
	text-align: center;
	font-weight: 700;
	margin-top:10px;
	font-family: "Libre Franklin";
}
}

@media only screen and (max-width: 650px) {
.demographicsValue {
    white-space: pre;
    margin: 2px;
    font-size: 4vw;
	text-align: center;
	font-weight: 700;
	margin-top:10px;
	font-family: "Libre Franklin";
}
}

@media only screen and (max-width: 10000px) {
.cityValue {
    white-space: pre;
    margin: 2px;
	margin-bottom: 15px;
    font-size: 1.25vw;
	text-align: center;
	margin-top:10px;
	font-family: "Libre Franklin";
}
}

@media only screen and (max-width: 650px) {
.cityValue {
    white-space: pre;
    margin: 2px;
	margin-bottom: 15px;
    font-size: 2.5vw;
	text-align: center;
	margin-top:10px;
	font-family: "Libre Franklin";
}
}

@media only screen and (max-width: 10000px) {
#context {
    font-size: calc(.9vw + 5px);
}
}

@media only screen and (max-width: 650px) {
#context {
    font-size: calc(1.3vw + 5px);
}
}

.demoTooltiptext {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 6px;
    position: absolute;
    top: -30px;
    z-index: 1;
    font-size: smaller;
	opacity: 0;
    transition: opacity .5s;
	font-family: "Libre Franklin"
}

/* Show the tooltip text when you mouse over the tooltip container */
.demographicsCell:hover .demoTooltiptext {
    visibility: visible;
	opacity: 1;
}
